@model PineappleSite.Presentation.Models.Identities.RegisterRequestViewModel

@{
    ViewData["Title"] = "Добавить пользователя";
}

<form class="container col-7" asp-action="Create">
    <br />
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">Добавить пользователя</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Имя</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="FirstName" />
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Фамилия</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="LastName" />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Почтовый адрес</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="EmailAddress" />
                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Отображаемое имя</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="UserName" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;" asp-for="Password">Пароль</label>
                </div>
                <div class="col-6 pb-3">
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="togglePassword">
                                <i class="fa fa-eye"></i> Показать
                            </button>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-5 offset-1">
                <a class="btn-primary btn form-control" asp-action="Index">Вернуться назад</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Добавить" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#togglePassword').click(function () {
            var passwordInput = $('input[name="Password"]');
            var passwordType = passwordInput.attr('type');

            if (passwordType === 'password') {
                passwordInput.attr('type', 'text');
                $('#togglePassword i').removeClass('fa-eye').addClass('fa-eye-slash');
                $('#togglePassword').text('Скрыть');
            } else {
                passwordInput.attr('type', 'password');
                $('#togglePassword i').removeClass('fa-eye-slash').addClass('fa-eye');
                $('#togglePassword').text('Показать');
            }
        });
    });
</script>