@using PineappleSite.Presentation.Utility
@model PineappleSite.Presentation.Models.Users.UpdateUserProfileViewModel

@{
    ViewData["Title"] = "Обновить пользователя";
}

@{
    ViewBag.Title = "User profile";
}

<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Profile">
                    <h5 class="card-title">Profile Data</h5>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Электронная Почта</label>
                        <input class="form-control" asp-for="EmailAddress" readonly />
                        <div class="form-text">Длина строки не может превышать 50 символов.</div>
                    </div>
                    <div class="card-buttons-group">
                        <button class='btn btn-primary' value="Обновить">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Profile">
                    <input asp-for="Id" hidden="hidden" />
                    <h5 class="card-title">Профиль пользователя</h5>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Имя</label>
                        <input class="form-control" asp-for="FirstName" />
                        <div class="form-text">Длина строки не может превышать 20 символов.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Фамилия</label>
                        <input class="form-control" asp-for="LastName" />
                        <div class="form-text">Длина строки не может превышать 20 символов.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Возраст</label>
                        <input type="text" class="form-control" asp-for="Age">
                        <div class="form-text">Возраст должен быть больше 18, но меньше 120.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Описание</label>
                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                        <div class="form-text">Длина строки должна быть более 10 символов, но не более 300 символов.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-black-50">Отображаемое имя</label>
                        <input class="form-control" asp-for="UserName" />
                        <div class="form-text">Длина строки не должна превышать 50 символов.</div>
                    </div>
                    <div class="card-buttons-group">
                        <button class="btn btn-primary" value="Обновить">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")">Main page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GetCars", "Car")">Cars</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#togglePassword').click(function () {
            var passwordInput = $('input[name="Password"]');
            var passwordType = passwordInput.attr('type');

            if (passwordType === 'password') {
                passwordInput.attr('type', 'text');
                $('#togglePassword i').removeClass('fa-eye').addClass('fa-eye-slash');
                $('#togglePassword').text('Скрыть');
            } else {
                passwordInput.attr('type', 'password');
                $('#togglePassword i').removeClass('fa-eye-slash').addClass('fa-eye');
                $('#togglePassword').text('Показать');
            }
        });
    });
</script>