@model int

@{
    ViewData["Title"] = "Завершение оплаты";
}

<div class="text-center">
    <h1 class="text-info pt-4" style="color:aqua">Поздравляем! Вы стали еще на 1 шаг ближе к вашему заказу.</h1>
    <h4 class="text-warning pb-3">Мы получили ваш заказ и когда он будет готов, мы Вам перезвоним!</h4>
    <h4 class="text-warning pb-3" style="color:aqua">Номер заказа - @Model</h4>
    <img src="~/images/order.PNG" width="80%" />
</div>