@model int

<div class="text-center">
    <h1 class="text-info pt-4">Поздравляем! Вы стали еще на 1 шаг ближе к этому автомобилю.</h1>
    <p class="pb-3">Мы получили ваш заказ и когда мы будем готовы, мы Вам перезвоним!</p>
    <h4 class="text-warning pb-3">Номер заказа - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>