@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .table {
        margin: 0 auto;
        width: 90%;
    }
    
    .some-format {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
</style>

<form asp-action="ServicesProvided">
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Оказываемые услуги"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class=".some-format">@Localizer["Номер услуги"]</th>
                    <th class=".some-format">@Localizer["Наименование услуги"]</th>
                    <th class=".some-format">@Localizer["Описание услуги"]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="some-format">
                        <strong>1</strong>
                    </td>
                    <td class="some-format">
                        <strong>Вызов такси клиенту(клиентам)</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга используется рестораном для того, чтобы клиенты могли приехать в ресторан или уехать
                            домой без необходимости вызывать такси самостоятельно.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>2</strong>
                    </td>
                    <td class="some-format">
                        <strong>Банкетное обслуживание</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга включает в себя слудующие моменты, такие как организацию и проведение банкетов, свадебных приемов, корпоративных вечеринок, юбилеев.
                            Также включено отдельное меню для таких случаев.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>3</strong>
                    </td>
                    <td class="some-format">
                        <strong>Кейтеринг</strong>
                    </td>
                    <td>
                        <span>
                            Кейтеринговое обслуживание включает приготовление и доставку блюд на выбранную локацию, где гости могут наслаждаться блюдами,
                            созданными профессиональными поварами.
                        </span> <br/>
                        <span>Ресторанный персонал также обеспечивает качественную подачу и обслуживание, чтобы создать незабываемую атмосферу и впечатления.</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>4</strong>
                    </td>
                    <td class="some-format">
                        <strong>Проведение музыкальных выступлений и шоу-программ</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга предлагает организацию и проведение увлекательных музыкальных выступлений и шоу-программ.
                            Независимо от того, нужно ли живое музыкальное исполнение, танцевальное шоу или другие развлекательные выступления, мероприятие будет по-настоящему запоминающимся.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>5</strong>
                    </td>
                    <td class="some-format">
                        <strong>Предоставление услуги детского меню и развлечений для детей</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга представляет специальное детское меню и развлекательные активности.
                            В меню предусмотрены разнообразные здоровые и вкусные блюда, которые понравятся детям.
                            Также для детей предусмотрена игровая зона.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>6</strong>
                    </td>
                    <td class="some-format">
                        <strong>Wi-Fi и комфортные условия для работы</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга предлагает бесплатный доступ к Wi-Fi для работы в удобной обстановке.
                            Созданы условия для комфортной работы или для проведения деловых встречь в заведении.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>7</strong>
                    </td>
                    <td class="some-format">
                        <strong>Организации караоке-вечеринок</strong>
                    </td>
                    <td>
                        <span>
                            Эта услуга предлагает организацию караоке-вечеринок, которые приносят множество веселья и развлечения.
                            Присутствует широкий выбор песен, профессиональное звуковое оборудование и уютная атмосфера, чтобы каждый гость
                            мог исполнить свои любимые хиты и провести незабываемое время в компании друзей.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>8</strong>
                    </td>
                    <td class="some-format">
                        <strong>Винная карта</strong>
                    </td>
                    <td>
                        <span>
                            Предоставляет широкий выбор вин различных сортов, включая красные, белые, розовые и игристые вина. Наш опытный сомелье
                            с радостью поможет подобрать вино, которое идеально подойдет по вашим предпочтениям.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>9</strong>
                    </td>
                    <td class="some-format">
                        <strong>Организация кулинарных конкурсов и турниров.</strong>
                    </td>
                    <td>
                        <span>
                            Организация кулинарных конкурсов и турниров - это одна из предлагаемых услуг. Создается атмосфера соревнования и организуются интересные кулинарные события для гостей.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>10</strong>
                    </td>
                    <td class="some-format">
                        <strong>Услуги по организации выпускных вечеров и вечеринок</strong>
                    </td>
                    <td>
                        <span>
                            Предоставляются услуги по организации выпускных вечеров и вечеринок.
                            Создается незабываемая атмосфера и ведется продумываение каждой детали, чтобы мероприятие было особенным и запоминающимся.
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</form>