<ul class="navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Profile" title="Профиль">Профиль - @User.Identity.Name!</a>
            </li>

            <li class="nav-item">
                <form class="form-inline" method="post" asp-action="Logout" asp-controller="Authenticate" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link">Выход</button>
                </form>
            </li>
        }

        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Register" asp-controller="Authenticate">Регистрация</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="Login" asp-controller="Authenticate">Вход в аккаунт</a>
            </li>
        }
    }
</ul>